.tab-button {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 32px;
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .tab-button {
    font-size: 32px;
    margin-right: 32px;
  }
}
.active-btn {
  color: #fec653;
  border-bottom: 3px solid #fec653;
}
